@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

:export {
  baseColor: $primary;
  focusShadowColor: $input-btn-focus-color;
  focusBorderColor: $input-focus-border-color;
}

.react-datepicker {
  font-family: BCSans, Verdana, Arial, sans-serif !important;
}

.bg-primary-light { background: lighten($primary, 48%) !important; }
.bg-success-light { background: lighten($success, 57%) !important; }
.bg-warning-light { background: lighten($warning, 46%) !important; }
.bg-danger-light { background: lighten($danger, 45%) !important; }
.bg-dark-light { background: lighten($dark, 45%) !important; }
